<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true">

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/</directory>
            <exclude>tests/node_modules</exclude>
            <exclude>tests/InteropTest.php</exclude>
        </testsuite>
        <testsuite>
            <directory suffix="InteropTest.php">tests/</directory>
            <exclude>tests/node_modules</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
